@import url(/blocks/table/table.css);
@import url(/blocks/cards/__description/cards__description.css);
@import url(/blocks/cards/__image/cards__image.css);
@import url(/blocks/cards/__item/cards__item.css);
@import url(/blocks/cards/__title/cards__title.css);

.cards {
width: 920px;
justify-content: space-evenly;
flex-direction: row;
}

.cards:last-child {
justify-content: flex-start;
}
