


/* digits styles */

.digits {
    padding: 100px 0 100px;
}

.section-title {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 20px;
}

.section-subtitle {
    text-align: center;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
}

.table {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__heading {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__cell {
    margin-top: 60px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.table__text:last-child {
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}
