.feynman__link {
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    right: 48px;
    transition-duration: .2s;
}

.feynman__link:hover {
    opacity: .5;
}
