@import url(/blocks/feynman/__image/feynman__image.css);
@import url(/blocks/feynman/__link/feynman__link.css);
@import url(/blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(/blocks/feynman/__title/feynman__title.css);
.feynman {
    background-color: #f2f2f2;
    position: relative;
    min-height: 790px;
    text-align: center;
}

