
/*feynman styles */

.feynman {
    background-color: #f2f2f2;
    position: relative;
    min-height: 790px;
    text-align: center;
}

.feynman__image {
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.feynman__title {
    padding-top: 100px;
    width: 775px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
}

.feynman__subtitle {
    margin: 70px 0 0 0;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    position: relative;
}

.feynman__link {
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    right: 48px;
}
