@import url(/blocks/logo/_place_header/logo_place_header.css);
@import url(/blocks/header/__title/header__title.css);
@import url(/blocks/header/__subtitle/header__subtitle.css);
@import url(/blocks/header/__square-pic/header__square-pic.css);
@import url(/blocks/header/__main-illustration/header__main-illustration.css);
@import url(/blocks/header/__link/header__link.css);


.header {
    background-color: #f2f2f2;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    z-index: 3;
    overflow: hidden;
}





