@import url(/blocks/hover/hover.css);
@import url(/blocks/rotation/rotation.css);

.header__link {
    color: #2f80ed;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: .3s;
}

.header__link:hover {
    opacity: .5;
}
