
/* kaufman styles */

.kaufman {
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    z-index: 3;
    padding: 90px 0 90px;
}

.section-title_theme_dark {
    color: white;
    width: 60%;
    font-weight: bold;
    padding: 0;
    margin-bottom: 20px;
}

.section-subtitle_theme_dark {
    color: white;
    width: 60%;
}

.table_theme_dark {
    position: relative;
    width: 1100px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin: 80px 0 0 0;
}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.kaufman__triangle {
    margin: 0 auto;
    width: 660px;
    height: 636px;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: -124px;
}
