.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 3;
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: -2;
}

.logo_place_header {
  left: 64px;
  top: 30px;
  position: absolute;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  margin: 0;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

/*description section styles */

.description {
  padding: 100px 0 100px;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* digits styles */

.digits {
  padding: 100px 0 100px;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
}

.table {
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.table__text:last-child {
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

/*feynman styles */

.feynman {
  background-color: #f2f2f2;
  position: relative;
  min-height: 790px;
  text-align: center;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  padding-top: 100px;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
}

.feynman__link {
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
}

/* kaufman styles */

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 3;
  padding: 90px 0 90px;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  font-weight: bold;
  padding: 0;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
}

.table_theme_dark {
  position: relative;
  width: 1100px;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  margin: 0 auto;
  width: 660px;
  height: 636px;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: -124px;
}

/* footer styles */

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 18px 0 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 20px;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
  text-decoration: none;
}
