.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f2f2;
}

a {
  color: #2f80ed;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.logo {
  margin-left: 64px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
}

.header__title {
  display: flex;
  align-items: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

/*description section styles */
.two-columns {
  display: flex;
  justify-content: center;
  margin: 100px auto 100px;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0px;
}

.two-columns__main-text {
  align-items: space-between;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* digits styles */

.section-title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 20px auto 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*feynman styles */

.feynman {
  position: relative;
  height: 790px;
  text-align: center;
  margin-top: 100px;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
}

.feynman__link {
  position: absolute;
  height: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
}

/* kaufman styles */

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.table_theme_dark {
  margin-top: 0;
  position: relative;
  width: 1100px;
  z-index: 1;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark {
  color: white;
  width: 60%;
  position: relative;
  z-index: 1;
}

.section-title_theme_dark {
  margin-top: 90px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 600px;
  height: 636px;
  position: absolute;
  top: 0;
  left: 1124px;
}

/* footer styles */

.footer {
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  min-height: 350px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 340px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 16px;
  font-weight: normal;
  margin: 18px auto 18px;
}

.footer__column_content_about {
  min-height: 350px;
}

.footer__column-heading {
  margin-top: 60px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column_content_social {
  min-height: 350px;
}
.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__list {
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
